@model MovieTracker.Models.Movie
@{
    ViewBag.Title = "Find Movie";
}
<div><h2 id="PageCaption">Find a Movie...</h2></div>
    @Html.AntiForgeryToken()

    @if (Model != null)
    {
        <div id="movies">
            @Html.Partial("_Movie", Model);
        </div>
    }
    else
    {
        <div >
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input class="form-control" type="text" id="Title" onclick="setButtonHref();" onblur="setButtonHref();" autocomplete="off" autofocus />
                        </td>
                        <td>
                            <a href="" id="ajaxButton" data-ajax-update="#movies" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true" class="form-control" style="text-decoration: none;" >Search</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="movies">
            </div>
        </div>
        <script>
            $(document).bind('keydown', function (e) {
                if (e.which === 13) { 
                    setButtonHref();
                    $('#ajaxButton').trigger('click');
                }
            });

            function setButtonHref()
            {
                document.getElementById('ajaxButton').href = 'Find?Title=' + document.getElementById('Title').value;
            }
        </script>
    }





